/* Geral */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
    background-color: #222;
}

/* Container de imagens */
.container {
    width: 70vw;
    margin: 0 auto;
}

.image-container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #444;
}

.image-container img {
    display: block;
    margin: 2rem auto 1rem;
    width: 1000px;
    height: 600px;
}

.image-container p {
    text-align: center;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 1200px) {
    .image-container img {
        max-width: 570px;
        max-height: 400px;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 1.4rem;
    }

    .image-container img {
        max-width: 300px;
        max-height: 200px;
    }

    .image-container p {
        font-size: 0.8rem;
    }
}

